/* MEDIA QUERIES*/
.subtitle, .btn, .header, .header-nav__list, .intro, .intro-socials__list, .blog__wrapper, .blog__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: "Roboto", sans-serif, "-apple-system", "BlinkMacSystemFont", "avenir next", "avenir", "segoe ui", "helvetica neue", "helvetica", "Ubuntu", "noto", "arial", sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #0B1D26;
  background-image: url("../img/bgi.jpg");
  background-repeat: no-repeat;
  background-size: 1920px 1891px;
  background-position: top center;
}

@media screen and (max-width: 767.98px) {
  body {
    background-size: 1320px 1000px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  body {
    background-image: url("../img/bgi@2x.jpg");
  }
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1462px;
  width: 100%;
}

.logo {
  display: block;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #FFFFFF;
}

.subtitle {
  margin-bottom: 32px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
}

.subtitle::before {
  content: ' ';
  display: block;
  width: 72px;
  height: 2px;
  margin-right: 32px;
  background: #FBD784;
}

@media screen and (max-width: 767.98px) {
  .subtitle::before {
    width: 60px;
    margin-right: 20px;
  }
}

@media (max-width: 480px) {
  .subtitle::before {
    font-size: 14px;
  }
}

@media screen and (max-width: 1199.98px) {
  .subtitle {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

.btn {
  max-width: 200px;
  padding: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.title {
  margin-bottom: 27px;
  font-family: "Bitter", serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 1.2;
}

@media screen and (max-width: 1199.98px) {
  .title {
    font-size: 48px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 30px;
  }
}

.header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 64px;
  margin-bottom: 198px;
}

@media screen and (max-width: 1199.98px) {
  .header {
    margin-top: 30px;
  }
}

@media screen and (max-width: 991px) {
  .header {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 767.98px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 767.98px) {
  .header-nav {
    display: none;
  }
}

.header-nav__item {
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.header-nav__item:hover, .header-nav__item:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header-nav__item:not(:last-child) {
  margin-right: 40px;
}

.header-nav__link {
  font-weight: 700;
  line-height: 1.2;
  color: #FFFFFF;
  -webkit-transition: color 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: color 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, color 300ms ease-in-out;
  transition: transform 300ms ease-in-out, color 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.header-nav__link:hover, .header-nav__link:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #FBD784;
}

.header-btn {
  font-size: 17px;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header-btn:hover, .header-btn:focus {
  color: #FBD784;
}

@media screen and (max-width: 767.98px) {
  .header-btn {
    display: none;
  }
}

.header-svg {
  margin-right: 8px;
  fill: #FFFFFF;
  -webkit-transition: fill 300ms ease-in-out;
  transition: fill 300ms ease-in-out;
}

.header-btn:hover .header-svg,
.header-btn:focus .header-svg {
  fill: #FBD784;
}

@media screen and (min-width: 768px) {
  .header-burger__btn {
    display: none;
  }
}

.intro {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 810px;
}

@media screen and (max-width: 1199.98px) {
  .intro {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 767.98px) {
  .intro {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 400px;
  }
}

.intro__title {
  margin-bottom: 50px;
  max-width: 1000px;
  width: 100%;
  font-family: "Bitter", serif;
  font-weight: 600;
  font-size: 88px;
  line-height: 1.14;
  text-transform: capitalize;
}

@media screen and (max-width: 1439.98px) {
  .intro__title {
    max-width: 800px;
    font-size: 70px;
  }
}

@media screen and (max-width: 1199.98px) {
  .intro__title {
    margin-bottom: 30px;
    max-width: 600px;
    font-size: 50px;
  }
}

@media screen and (max-width: 991px) {
  .intro__title {
    max-width: 500px;
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  .intro__title {
    font-size: 30px;
  }
}

.intro__svg {
  margin-left: 20px;
}

@media (max-width: 480px) {
  .intro__svg {
    margin-left: 10px;
    height: 20px;
  }
}

.intro-socials {
  width: 29px;
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (max-width: 767.98px) {
  .intro-socials {
    display: none;
  }
}

.intro-socials__heading {
  display: block;
  margin-right: 24px;
}

.intro-socials__item {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.intro-socials__item:first-child {
  margin-right: 24px;
}

.intro-socials__svg {
  fill: #FFFFFF;
  -webkit-transition: fill 300ms ease-in-out;
  transition: fill 300ms ease-in-out;
}

.intro-socials__item:hover .intro-socials__svg:hover, .intro-socials__item:hover .intro-socials__svg:focus,
.intro-socials__item:focus .intro-socials__svg:hover,
.intro-socials__item:focus .intro-socials__svg:focus {
  fill: #FBD784;
}

.intro-scroll {
  padding-right: 32px;
}

@media screen and (max-width: 767.98px) {
  .intro-scroll {
    display: none;
  }
}

.intro-scroll__btn {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 32px;
  padding-top: 25px;
  padding-bottom: 25px;
  min-width: 77px;
  max-width: 100px;
  line-height: 1.2;
  color: #FFFFFF;
  border-right: 3px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.intro-scroll__btn:hover, .intro-scroll__btn:focus {
  color: #FBD784;
}

.intro-scroll__btn--active {
  border-color: #FFFFFF;
}

.intro__btn {
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.intro__btn:hover, .intro__btn:focus {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

@media (max-width: 480px) {
  .intro__btn {
    font-size: 14px;
  }
}

.blog {
  margin-bottom: 200px;
}

.blog .container {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 1439.98px) {
  .blog .container {
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 991px) {
  .blog {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1439.98px) {
  .blog img {
    margin-right: auto;
    margin-left: auto;
  }
}

.blog__item:not(:last-child) {
  margin-bottom: 200px;
}

@media screen and (max-width: 1439.98px) {
  .blog__item:not(:last-child) {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 991px) {
  .blog__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 991px) {
  .blog__wrapper {
    display: block;
  }
}

@media screen and (max-width: 991px) {
  .blog__wrapper--even {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.blog__info {
  position: relative;
  max-width: 896px;
  width: 100%;
  padding: 140px 114px 140px 150px;
}

.blog__info--even {
  padding-left: 264px;
  padding-right: 0;
}

@media screen and (max-width: 1199.98px) {
  .blog__info {
    padding: 100px;
  }
}

@media screen and (max-width: 991px) {
  .blog__info {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 767.98px) {
  .blog__info {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 480px) {
  .blog__info {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.blog__desc {
  margin-bottom: 27px;
  font-weight: 700;
  line-height: 1.7;
}

@media screen and (max-width: 1199.98px) {
  .blog__desc {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .blog__desc {
    font-size: 14px;
  }
}

.blog__btn {
  color: #FBD784;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.blog__btn:hover, .blog__btn:focus {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

@media (max-width: 480px) {
  .blog__btn {
    font-size: 14px;
  }
}

.blog__svg {
  margin-left: 16px;
}

@media (max-width: 480px) {
  .blog__svg {
    margin-left: 10px;
    width: 20px;
  }
}

.blog__counter {
  position: absolute;
  top: 50px;
  left: 0;
  font-weight: 700;
  font-size: 240px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 1199.98px) {
  .blog__counter {
    font-size: 160px;
  }
}

@media screen and (max-width: 767.98px) {
  .blog__counter {
    font-size: 130px;
  }
}

.blog__counter--even {
  left: 114px;
}

@media screen and (max-width: 991px) {
  .blog__counter--even {
    left: 0;
  }
}

@media (max-width: 480px) {
  .blog__counter {
    top: 0;
  }
}

.footer {
  padding-bottom: 20px;
}

.footer .container {
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1439.98px) {
  .footer .container {
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 991px) {
  .footer .container {
    max-width: 768px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767.98px) {
  .footer .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__logo {
  margin-bottom: 24px;
}

.footer__info {
  margin-bottom: 100px;
  max-width: 360px;
  width: 100%;
}

.footer__desc {
  width: 310px;
  font-weight: 700;
  line-height: 1.7;
}

.footer__copy {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 991px) {
  .footer__copy {
    font-size: 14px;
  }
}

@media screen and (max-width: 767.98px) {
  .footer__copy {
    max-width: 346px;
    width: 100%;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__item:first-child {
  margin-right: 212px;
}

@media screen and (max-width: 767.98px) {
  .footer__item:first-child {
    margin-right: 50px;
  }
}

.footer__heading {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: #FBD784;
}

@media screen and (max-width: 991px) {
  .footer__heading {
    margin-bottom: 20px;
    font-size: 20px;
  }
}

.footer__link {
  display: block;
  font-weight: 500;
  line-height: 1.7;
  color: #FFFFFF;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.footer__link:hover, .footer__link:focus {
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 991px) {
  .footer__link {
    font-size: 14px;
  }
}
/*# sourceMappingURL=main.css.map */