.header {
    @extend %flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 64px;
    margin-bottom: 198px;

    @include mq(notDesktop) {
        margin-top: 30px;
    }

    @include mq(notTabletXl) {
        margin-bottom: 100px;
    }

    @include mq(mobile-only) {
        padding-left: 20px;
        padding-right: 20px;
    }

    &-nav__list {
        @extend %flex;
    }
}

.header-nav {
    @include mq(mobile-only) {
        display: none;
      }
}
 
.header-nav__item {
    transition: transform $animation;

    &:hover,
    &:focus {
        transform: scale(1.2);
    }

    &:not(:last-child) {
        margin-right: 40px;
    }
}



.header-nav__link {
    font-weight: 700;
    line-height: 1.2;
    color: $textColor;

    transition: transform $animation, color $animation;
    &:hover,
    &:focus {
        transform: scale(1.2);
        color: $accentColor;
    }
}


.header-btn {
    font-size: 17px;

    transition: color $animation;

    &:hover,
    &:focus {
        color: $accentColor;
    }

    @include mq(mobile-only) {
        display: none;
      }
}

.header-svg {
    margin-right: 8px;

    fill: $textColor;

     transition: fill $animation;

     .header-btn:hover &,
     .header-btn:focus & {
        fill: $accentColor;
    }
}

.header-burger__btn {
    @include mq(tablet) {
        display: none;
      }
}